*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/filament/bin/matc
/app/src/main/assets/materials/*.filamat
.externalNativeBuild
.cxx
local.properties
filament/bin/matc.exe
